@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MarioKart7Builder.Models.Kart

<h2>Are You Sure You Want To <strong>DELETE</strong> This Kart?</h2>
<p>
    @Html.ActionLink("Back to View", "Details", new { id = Model.id })
</p>
<hr />
<h4 class="over">
    @Html.DisplayFor(model => model.name)
</h4>
@using (Html.BeginForm())
{
    <input class="btn btn-default" type="submit" value="Delete" />
}