@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Your Kart List", "index", "karts")
    <hr />
    <h4 class="over">Hello @User.Identity.Name!</h4>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    <p>
        @Html.ActionLink("Register", "Register") | @Html.ActionLink("Log in", "Login")
    </p>
    <hr />
}